@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

img {
    max-width: 100%;
}

.container {
    margin: 0 10%;
}

.row-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.row-3 > div {
    width: 32%;
}

.fa-icon-position {
    border-radius: 3px;
    transform: rotate(45deg);
    padding: 8px;
    width: 13px;
    height: 14px;
}

.fa-icon {
    transform: rotate(-45deg);
    font-size: 14px;
}

/* home section */
.home {
    background-image: 
        linear-gradient(
            rgba(0, 0, 0, 0.3), 
            rgba(0, 0, 0, 0.3)),
        url(../img/first-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.header-position {
    display: flex;
    justify-content: space-between;
    padding: 34px 32px;
}

.navigation {
    display: flex;
    flex-direction: row;    
} 

.navigation a {
    text-decoration: none;
    margin-right: 25px;
    opacity: 0.75;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}

.main-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-title-style {
    opacity: 0.9;
    color: #fefefe;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 51.01px;
    margin: 26vh 0 10vh;
}

.main-subtitle {
    opacity: 0.68;
    color: #fefefe;
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
}

.header-position .home-menu {
    color: #fefefe;
    font-size: 20px;
    display: none;
}

.home-menu:hover {
    cursor: pointer;
}

.home .fa-icon-position {
    background-color: white;
    color: black;
    position: absolute;
    bottom: 30px;
}

.home .fa-icon {
    padding-top: 5px;
    padding-left: 2px;
    font-size: 15px;
}

.modal-header-menu {
    display: none;
    background-color: #b3b3b575;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
}

.modal-show {
    display: block;
}

.modal-menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-menu-items {
    background-color: #111111;
    height: 55vh;
    width: 60vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-menu li {
    margin: 15px 0;
    text-align: center;
}

.modal-menu-items li a{
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
}

.modal-menu-hover li a:hover {
    color: #2196f3;
}

.modal-menu-close {
    color: #fff;
    font-size: 35px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-menu-close:hover {
    color: #2196f3;
    cursor: pointer;
}

.fa-icon-position {
    cursor: pointer;
}

/* about section */
.row-3-about {
    display: flex;
    justify-content: space-between;
}

.row-3-text > div {
    width: 30%;
}

.title {
    color: #111111;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 9px;
    margin: 6% 0;
    text-align: center;
}

.worker-inf {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    color: #777777;
    text-align: center;  
    font-weight: 400; 
}

.title-about {
    text-align: left;
}

.worker-name {
    font-size: 15px;
    letter-spacing: 6px;
    margin: 30px 0 16px;
}

.worker-job {
    font-size: 12px;
    letter-spacing: 4.8px; 
}

.subtitle-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

.subtitle-about > small {
    font-size: 11px;
}

.text-about {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
}

.img-list {
    margin: 70px 0;
}

/* flip card style */
.scene-3d {
    height: 100%;
    perspective: 1000px;
  }
  
.scene-3d:hover .rotate {
    transform: rotateY(180deg);
  }
  
.rotate {
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
    margin: 0 2px
}

.card-about-text {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}

.img-about {
    width: 100%;
    height: 100%;
}

.card-about-text {
    border: 1px solid #ccc;
    height: 100%;
    background: #ffffff;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.card-face-back {
    color: #777777;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}

.face-back-icons {
    margin: 20px 0;
}
  
.face-back-icons a {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    border-radius: 50%;
    text-decoration: none;
    }

.face-back-icons a:hover {
    background-color: #2c3e50;
    color: #fff;
}

/* services section */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #777777;
    margin: 0 3%;
  }
    
  .tab button:hover {
    color: #111111;
  }
    
  .tab button.active {
    color: #111111;
  }
    
  .tabcontent {
    display: none;
    border-top: none;
  }
  
  .tab-icon {
    font-size: 48px;
    font-weight: 400;
  }
  
  .list-services {
    display: flex;
    justify-content: center;
    margin: 0 10%;
  }

/* digital services section */
.digital-services {
    height: 443px;
    background-color: #111111;
    margin: 5% 0;
}

.white-title {
    color: #ffffff;
    font-family: Dosis;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 5.4px;
}

.white-text {
    opacity: 0.7;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 27px;
}

.monitor-img {
    float: right;
    margin-top: -40px;
}

.digital-services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 443px;
}

.white-button {
    background-color: #ffffff;
    color: #111111;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    opacity: 0.8;
    border: none;
    outline: none;
    width: 200px;
    padding: 12px 0;
    margin: 40px 0;
}

.white-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* portfolio section */
.portfolio-text {
    max-width: 50%;
    margin: 0 auto;
}

.portfolio-list {
    display: flex;
    justify-content: center;
}

.portfolio-list li {
    list-style: none;
    color: #111111;
    font-family: Dosis;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.2px;
    margin: 35px;
}

.portfolio-list li:hover {
    cursor: pointer;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gray-layer {
    width: 30%;
    filter: grayscale(100%); 
    margin: 20px;   
}

.gray-layer:hover {
    filter: none;
    cursor: pointer;
}

.hide-portfolio-img {
    width: 0;
    transition: width 0.5s linear;
}
  
/* creative works section */
.creative-works {
    background-color: #111111;
    height: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-start-project {
    width: auto;
    padding: 12px 50px;
    margin: 24px 0 0;
}

/* choose us section */
.title-item {
    color: #111111;
    font-family: Dosis;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5.6px;
    margin: 35px 0;
}

.custom-items {
    margin-bottom: 10%;
}

.custom-items span{
    color: #111111;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 24px;
    margin: 35px 0 0;
}

.row-3-centre {
    text-align: center;
}

.row-margin {
    margin-top: 40px;
}

/* people say section */
.wrapper {
    width: 100%;
    overflow: hidden;
}

.list {
    display: flex;
    transition: all ease 1s;
}

.item {
    min-width: 99vw;
}

.slider-wrapper {
    overflow: hidden;
}

.list {
    display: flex;
    margin-left: 0;
    transition: all ease 1s;
}

.people-say {
    padding: 5% 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease 1s;
}

.people-say-item {
    text-align: center;
    width: 40%;
}

.icon-quote {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 23px;
}

.people-text {
    opacity: 0.75;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin: 43px 0 26px 0;
}

.people-text-editor {
    opacity: 0.3;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 38px;
    text-transform: uppercase;
    letter-spacing: 2.2px;
}

.btn-back {
    position: relative;
	border-top: 46px solid transparent;
	border-left: 50px solid #ffffff;
    border-bottom: 46px solid transparent;
    cursor: pointer;
}

.btn-back-icon {
    position: absolute;
    left: -40px;
    top: -6px;
    color: #000000;
}

.btn-next {
    position: relative;
	border-top: 46px solid transparent;
	border-right: 50px solid #ffffff;
    border-bottom: 46px solid transparent;
    cursor: pointer;
}

.btn-next-icon {
    position: absolute;
    right: -40px;
    top: -6px;
    color: #000000;
}

/* latest news section */
.news-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.news-title a {
    color: #999999;
    font-family: Dosis;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4.4px;
    text-decoration: none;
}

.news-item {
    margin-bottom: 140px;
}

.news-item p {
   text-align: left; 
}

.text-news {
    margin: 20px 0;
}

.gray-btn {
    background-color: #e6e6e6;
    color: #777777;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.2px;
    border: none;
    padding: 10px 20px;
}

/* subscribe section */
.subscribe {
    display: flex;
    height: 264px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.subscribe-title {
    color: #111111;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 4.8px;
}

.subscribe-form {
    margin: 21px 0;
    
}

.subscribe-form input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 137px 0 14px;
    height: 35px;
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.subscribe-button {
    border: none;
    height: 36px;
    padding: 0 20px;
    background-color: #111111;
    opacity: 0.8;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    border-radius: 2px;
}

.subscribe-text {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 26px;
}

/* contacts section */
.contacts {
    margin: 0 20%;
}

.contact-title {
    margin-top: 140px;
}

.contact-text {
    color: #777777;
    font-family: "Dosis";
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3.6px;
    line-height: 1px;
    text-transform: uppercase;
}

.contact {
    font-family: "Open Sans";
    font-weight: 300;
    line-height: 24px;
}

.contacts .fa-icon-position {
    background-color: black;
    color: white;
    margin-right: 20px; 
    width: 13px;  
}

.contacts-inf-position {
    display: flex;
    align-items: center;
} 

.fa-map-marker-alt{
    padding: 0 2px;
}

.messaging-form {
    display: flex;
    flex-direction: column;
}

.messaging-items {
    display: flex;
    flex-direction: row;
}

.messaging-items div {
    width: 100%;
    margin: 6% 0 3%;
}

.messaging-first-item {
    display: flex;
    flex-direction: column;
}

.messaging-first-item input {
    height: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    color: #777777;
    padding: 14px 0 14px 14px;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    outline: none;
}

.messaging-textarea textarea{
    width: 94%;
    height: 85px;
    padding: 14px 0 0 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #777777;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    background-color: transparent;
    resize: none;
    outline: none;
    margin-left: 10px;
}

.messaging-button {
    display: flex;
    justify-content: space-between;
}

.messaging-button input {
    width: 182px;
    height: 36px;
    color: #ffffff;
    border: none;
    background-color: #000000;
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    outline: none;
    cursor: pointer;
}

.subscribe-text {
    color: #aaaaaa;
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 12px;
}

/* map section */
.map-wrap {
    position: relative;
    margin-top: 10%;
}

.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111111;
    height: 410px;
}

.map .fa-icon-position {
    background-color: white;
}

.map-title {
    color: white;
    margin-top: 28px;
    cursor: pointer;
}

.modal {
    display: none;
    position: absolute; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 410px;
    overflow: auto;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
  
.modal-content {
    position: absolute;
    top: 0;
    background-color: #fefefe;
    width: 100%;
    height: 410px;
    animation-name: slideIn;
    animation-duration: 0.4s
}
  
.modal-header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #000;
    color: white;
    text-transform: uppercase; 
    font-family: 'Dosis', sans-serif;
    letter-spacing: 9px;
    cursor: pointer;
}
  
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* footer section */
.footer {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-img {
    margin-bottom: 23px;
}

.footer-title {
    color: #111111;
    font-family: Dosis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin: 100px 0 10px;
}

.footer-subtitle {
    color: #999999;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 400;
    line-height: 24px;
}

.footer-icon {
    display: flex;
    flex-direction: row;
}

.footer .fa-icon-position {
    border: 1px solid rgba(0, 0, 0, 0.9);
    margin: 10px;
}

.fa-facebook-f {
    padding: 0 3px;
}