@media screen and (max-width:1060px){
    .monitor-img {
        display: none;
    }
}

@media screen and (max-width:960px) {
    .row-3-about {
        flex-wrap: wrap;
    }

    .row-3-text div {
        width: 48%;
    }

    .img-about {
        width: 50%;
    }
    
    .row-3-about .subtitle-about {
        width: 100%;
    }

    .row-3 {
        flex-wrap: wrap;
    }

    .row-3 div {
        width: 48%;
    }

    .navigation a {
        margin-right: 15px;
    }

    .title-about {
        padding: 10px;
    }

    .img-list div{
        width: 100%;
        text-align: center;
    }

    .worker-job {
        margin-bottom: 30px;
    }

    .list-services {
        flex-wrap: wrap;
    }

    .portfolio-text {
        max-width: 90%;
    }

    .contacts {
        margin: 0 4%;
    }

    .messaging-items  {
        flex-direction: column;
    }

    .messaging-items > div{
        width: 100%;
        margin: 0;
    }

    .messaging-textarea textarea{
        width: 97%;
        margin-left: 0;
    }

    .messaging-button  {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }

    .validateBtn {
        margin-top: 10px;
    }

    .contacts-inf-position {
        white-space: nowrap;
        margin: 20px;
    }
}

@media screen and (max-width: 600px) {
    .row-3 div {
        width: 100%;
        margin-bottom: 20px;
    }

    .row-3-centre div{
        margin: 10px;
    }

    .portfolio-list {
        flex-direction: column;
        align-items: center;
    }

    .gray-layer {
        width: 100%;
    }

    .navigation {
        display: none;
    }

    .home .home-menu {
        display: flex;
    }

    .creative-works{
        text-align: center;
    }

    .contact-title {
        margin-top: 50px;
    }

    .map {
        margin-top: 50px;
        height: 300px;
    }

    .footer {
        height: 300px;
    }
}

@media screen and (max-width: 480px) {
    .main-title-style {
        letter-spacing: 21px;
    }

    .subscribe div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .subscribe-button {
        margin-top: 10px;
    }

    .subscribe-title {
        text-align: center;
    }  
}